<header class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
						<li>
							<%= link_to "新規登録", signup_new_path, class: "btn btn-info btn-lg" %>
						</li>
						<li>
							<%= link_to "ログイン", login_path, class: "btn btn-primary btn-lg" %>
						</li>
						<li>
							<%= link_to "ゲストログイン", guest_login_path, class: "btn btn-warning bnt-lg", method: :post %>
						</li>
				</ul>
			</div>
	</nav>
</header>
